.Card {
    border: none;
    margin-bottom: 20px;
    transition: all 1s;
    border-radius: 0.375rem;
    overflow: hidden;
}

.cardHeader {
    border-color: #EEF1F9;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

.cardHeader h4 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: normal;
}

.cardBody {
    padding: 15px;
    background-color: #fff;

}
 .cardFooter{
    background-color: #f2f4f6;
    border-radius: 0 0 5px 5px;
    padding: 10px 15px;
 }

 .cardFooter button {
    margin: 0;
    font-size: 13.5px;
    height: 35px;
    padding: 5px 10px;
 }

 .cardFooter svg {
    color: #fff;
    margin-right: 5px;
    width: 16px;
    height: 16px;
 }